{% extends 'main/base.html' %}
{% load static %}
{% block main_content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{ recipe.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

    <div class="recepie_details_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="recepies_thumb">
                        <img src="{{ recipe.picture.url }}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="recepies_info">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.description }}</p>
                        <div class="resepies_details">
                            <ul>
                                <li><strong>Време за приготвяне: </strong> {{ recipe.time }} мин.</li>
                                <li><strong>Категория:</strong> {{ recipe.category }} </li>
                            </ul>
                        </div>
                        <a href="{% url 'recipe_edit' recipe.id %}" class="line_btn">Промени...</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="recepies_text">
                        <a href="{{recipe.attachment.url}}">Вижте рецептата...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
